body, html {
	margin: 0;
	height: 50%;
	background-image: url("./assets/img/background.jpg");
	background-size: cover;

}

.vertical-center {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin-left: 600px;
  }

h1 {

	text-align: center;
	top: 50%;
	color: #FAEBD7;
}

#bm {
	width: 100%;
}